{% extends 'agenda/base.html' %}

{% block content %}

<style>
    #id_solicitante {
        background-color: #e9ecef;
        cursor: not-allowed;
    }
</style>

    <h2 class='mt-3'>Solicitar agendamento de veículo</h2>
    <form method="post" class="form-control border-none">
        <!-- crsf_token = Token para garantir que o formulário foi enviado pelo próprio site e não por algo externo -->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Solicitar agendamento</button>
    </form>

{% endblock %}