{% extends 'agenda/base.html' %}
{% block content %}
    <h2 class='mt-3'>Agendamentos Aprovados</h2>
    {% if agendamentos %}
        <table class="table">
            <tr class="title">
                <th>Solicitante</th>
                <th>Carro</th>
                <th>Data de Saída</th>
                <th>Data de Entrega</th>
                <th>Período</th>
            </tr>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.solicitante }}</td>
                <td>{{ agendamento.carro }}</td>
                <td>{{ agendamento.dataSaida }}</td>
                <td>{{ agendamento.dataEntrega }}</td>
                <td>{{ agendamento.get_periodo_display }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nenhum agendamento encontrado.</p>
    {% endif %}
{% endblock %}